@model BigBirdie.Models.QuizzItem

@{
    ViewData["Title"] = "Details";
    Layout = "Index";
}

<h1>Details</h1>

<div>
    <h4>QuizzItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Theme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Theme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.prop1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prop1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.prop2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prop2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.prop3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prop3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.prop4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prop4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Niveau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Niveau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anecdote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anecdote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wiki)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wiki)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
